/*

Add styles or override variables from the theme here.

*/

$primary: #2E3440;
$secondary: #A23B72;

.text-nord5 {
    color: #D8DEE9 !important;
}

.bg-nord0 {
    background-color: #2E3440;
}

.bg-nord1 {
    background-color: #3B4252;
}

.bg-nord2 {
    background-color: #434C5E !important;
}
